<div class="col-md-10 col-md-offset-1">
  <% @items.each do |i| %>
 <table>
   <tr>
     <td colspan="2" class="item_name"> <b> <%= i.name %></b> </td>
   </tr>
   <tr>
     <td width="110" class="item_picture" valign="top" align="center"><%= image_tag i.avatar.url %></td>
     <td valign="top" class="item_description">
       Цена : <%= i.price %> RU <br>
       <br>
       Минимальний ранг : <%= i.min_lvl %> <br>
       Прочность : <%= i.strength %> <br>
       Вес : <%= i.add_weight %> кг <br>
       <br>
       <% if i.add_health != 0 %>
       Броня : + <%= i.add_health %>
       <% end %>
       <% if i.add_damage != 0 %>
       Урон : + <%= i.add_damage %>
       <% end %>
       <br>
       <br>
       Доступное количество : <%= i.amount %> <br>
       Описание : <br>
       <%= i.description %> <br>
       <br>
       <%= link_to 'Купить', buy_path(i.id), method: 'GET' %>
     </td>
   </tr>
 </table>
  <% end %>
</div>