<% if current_user %>
    <div class="user_name"><%= link_to current_user.name, user_profile_path(current_user.id) %> </div>
<div class="user_profile">
  <div class="user_char">
    Ранг : <%= current_user.user_profile.rank %><br>
    Репутация : <%= current_user.user_profile.reputation %><br>
    <br>
    Здоровья : <%= current_user.user_profile.health %><br>
    Выносливость : <%= current_user.user_profile.endurance %><br>
  </div>
  <div class="user_char1">
    Деньги : <%= current_user.user_profile.money %> RU<br>
    Масса : <%= current_user.user_profile.weight %> кг<br>
  </div>
  <div class="work_on">
    <%= render 'sessions/work_on' %>
  </div>
</div>
<div class="services">
  <%= link_to 'Инвентарь', user_item_index_path, method: 'GET', class: 'services_button' %><br>
</div>

<% end %>