<div class="inv_bg">
  <table id="inv_table">
    <tr>
      <td> <% if @user_head != nil %><%= image_tag @user_head.avatar %><% end %> </td>
    </tr>
    <tr>
      <td> <% if @user_body != nil %><%= image_tag @user_body.avatar %><% end %> </td>
    </tr>
    <tr>
      <td> <% if @user_hand != nil %><%= image_tag @user_hand.avatar %><% end %> </td>
    </tr>
    <tr>
      <td> <% if @user_leg != nil %><%= image_tag @user_leg.avatar %><% end %> </td>
    </tr>
  </table>

</div>



<div class="inv_items_conteiner">
  <% @items.each do |i| %>
      <table class="inv_table_item">
        <tr>
          <td colspan="2" class="inv_item_name"> <b> <%= i.name %></b> </td>
        </tr>
        <tr>
          <td width="110" class="inv_item_picture" valign="top" align="center"><%= image_tag i.avatar %></td>
          <td valign="top" class="inv_item_description">
            <br>
            Минимальний ранг : <%= i.min_lvl %> <br>

            Прочность : <%= i.strength %> <br>
            <br>
            <br>
            Описание : <br>
            <%= i.description %> <br>
            <br>
            <%= link_to 'Надеть', add_item_path(i.id) %>
          </td>


        </tr>
      </table>
  <% end %>
</div>