<div class="inv_bg">
  <table id="inv_table">
    <tr>
      <td> <% if @user_head != nil %> <%= link_to down_item_path(:type => 'head') do %> <%= image_tag @user_head.avatar %><% end %> <% end %> </td>
    </tr>
    <tr>
      <td> <% if @user_body != nil %><%= link_to down_item_path(:type => 'body') do %><%= image_tag @user_body.avatar %><% end %><% end %> </td>
    </tr>
    <tr>
      <td> <% if @user_hand != nil %><%= link_to down_item_path(:type => 'hand') do %><%= image_tag @user_hand.avatar %><% end %><% end %> </td>
    </tr>
    <tr>
      <td> <% if @user_leg != nil %><%= link_to down_item_path(:type => 'leg', :item => @user_leg) do %><%= image_tag @user_leg.avatar %><% end %><% end %> </td>
    </tr>
  </table>
  <div class="charach">
    Здоровья : <%= current_user.user_profile.health %><br>
    Урон :    <%= current_user.user_profile.damage %><br>
  </div>
</div>


<div class="inv_items_conteiner">
  <% @items.each do |i| %>
      <table class="inv_table_item">
        <tr>
          <td colspan="2" class="inv_item_name"> <b> <%= i.name %></b> </td>
        </tr>
        <tr>
          <td width="110" class="inv_item_picture" valign="top" align="center"><%= image_tag i.avatar %></td>
          <td valign="top" class="inv_item_description">
            <br>
            Минимальний ранг : <%= i.min_lvl %> <br>

            Прочность : <%= i.strength %> <br>
            <br>
            <% if i.add_health != 0 %>
                Броня : + <%= i.add_health %>
            <% end %>
            <% if i.add_damage != 0 %>
                Урон : + <%= i.add_damage %>
            <% end %>
            <br>
            <br>
            Описание : <br>
            <%= i.description %> <br>
            <br>
            <%= link_to 'Надеть', add_item_path(i.id) %>
          </td>
        </tr>
      </table>
  <% end %>
</div>