<div class="location_list">
  <div class="location_list_name">
    Локации
  </div>
<table>
  <% @locations.each do |l| %>
  <tr>
    <td> <%= link_to l.name, location_path(l.id), method: 'get' %>  </td>
  </tr>
  <%end %>
</table>
</div>
<div class="current_location">
  <div class="current_location_name">
  Текущая локация : <%= current_user.user_profile.location.name %>
  </div>
  <table>
    <tr>
      <td> Название  </td>
      <td> Бюджет </td>
      <td> Зарплата  </td>
      <td>  </td>
    </tr>
   <% @current_location.factories.each do |f| %>
        <tr>
          <td> <%= link_to f.name, factory_path(f.id), method: 'get' %>  </td>
          <td> <%= f.budget %>  </td>
          <td> <%= f.salary %>  </td>
          <td> <%= link_to 'Войти >>', factory_path(f.id), method: 'get' %>  </td>
        </tr>
    <%end %>
  </table>
</div>