<div class="container" id="container1">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Новое предприятие</h3>
        </div>
        <div class="panel-body">
          <%= form_for :factory, url: factory_index_path, method: :post do |f| %>
              <div class="form-group">
                <%= f.text_field :name, class: 'form-control input-sm', placeholder: 'Название предприятия...' %>
              </div>
              <div class="form-group">
                <%= f.text_field :description, class: 'form-control input-sm', placeholder: 'Описание...' %>
              </div>
              <div class="form-group">
                <%= f.text_field :budget, class: 'form-control input-sm', placeholder: 'Начальний бюджет...' %>
              </div>
              <div class="form-group">
                <%= f.text_field :salary, class: 'form-control input-sm', placeholder: 'Зарплата...' %>
              </div>
              <div class="form-group">
                <%= f.text_field :location_id, class: 'form-control input-sm', placeholder: 'Локация...' %>
              </div>
              <div class="form-group">
              <%= f.file_field :avatar %>
              </div>
              <%= f.submit value: 'Создать', class: 'btn btn-block btn-success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<style>

  .centered-form {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
  }
</style>